#!/bin/bash

# Install ECS Agent
# See https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-install.html

sudo yum update -y
sudo yum install -y ecs-init

# Configure ECS Agent - Join the Cluster
# See https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html
# and https://docs.aws.amazon.com/AmazonECS/latest/developerguide/bootstrap_container_instance.html

echo ECS_CLUSTER=${cluster_name} >> /etc/ecs/ecs.config

# Start Docker and ECS Agent

sudo service docker start
sudo start ecs
