{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "secretsmanager:GetSecretValue",
                "kms:Decrypt"
            ],
            "Resource": [
                "${keycloak_rds_secret}",
                "${keycloak_user_secret}"
            ]
        }
    ]
}
